# Unity
/Library/
/Temp/
/Obj/
/Build/
/Logs/
/UserSettings/

# Visual Studio / VS Code
/.vs/
/.vscode/
*.csproj
*.sln
*.userprefs
*.suo

# Burst cache
/Library/BurstCache/

# Large binaries (если точно не нужны)
*.dylib
*.so
*.dll
*.exe

# Package Cache
/PackageCache/
/Library/PackageCache/